header{
    width:80%;
    margin-right:auto;
    margin-left:audo;
}
body {
    font-family:Arial, Helvettica, Sans-serif;
    background-color:#CCFFFF;
    margin-right:auto;
    margin-left:auto;
}
table{
    table-layout: fixed;
    margin-right:auto;
    margin-left:auto;
}
table {
    border:1px solid black;
}
td{
    border:1px solid black;   
}
h1{
    text-align:center;
     margin-right:auto;
    margin-left:auto;
}
h2 {
    margin-left: center;
    margin-right: center;
    text-align: center;
}